<div class="wrapper">
    <div class="editor">
        <ckeditor
                id="variablesEditor"
                name="variablesEditor"
                [(ngModel)]="content"
                [config]="ckeConfig"
                (change)="onChange($event)">
        </ckeditor>
    </div>

    <mat-list id="variablesList">
        <mat-list-item *ngFor="let variable of variables">
            <a class="variable" href="#">{{variable.name}}</a>
            <label class="variable-description">{{variable.description}}</label>
        </mat-list-item>
    </mat-list>

</div>
